<div class="px-2 py-2 bg-light altbar links" style="text-align:right; position:fixed; left:0px; bottom:0px; width:100%;">

    <a href="https://api.whatsapp.com/send/?phone=905442102665&amp;text=Merhaba%2C+istek%2C+%C3%B6neri+ve+taleplerinizi+buradan+bize+yazabilirsiniz&amp;type=phone_number&amp;app_absent=0" target="_blank" style="color:gray;" ><i class="fa-brands fa-whatsapp" style="zoom:2; margin-right:0.25rem;"></i></a>
    <a href="tel:905442102665"><i class="fa fa-phone-volume" style="zoom:2; margin-right:0.25rem; color:gray;"></i></a>
    <a href="https://maps.app.goo.gl/Aseu2iVwwcbriGVY8?g_st=iwb" style=" color:gray;" target="_blank"><i class="fa fa-location-dot" style="zoom:2; margin-right:0.25rem; "></i></a>
    <a href="https://instagram.com/gulpinardubacafe" style=" color:gray;" target="_blank"><i class="fa-brands fa-instagram" style="zoom:2; margin-right:0.25rem;"></i></a>
    <a href="https://www.facebook.com/profile.php?id=100094293196174"  style=" color:gray;" target="_blank"><i class="fa-brands fa-facebook" style="zoom:2; margin-right:0.25rem;"></i></a>
                            
</div>