{% extends "layout.html" %}
{% load static %}
{% block style_css %}
<link rel="stylesheet" href="{% static 'pages/css/style.css' %}">
{% endblock style_css %}

{% load static %}
{% block search_nabvar %}

<nav >
    <div class="display-flex justify-content-center align-items-center mt-3 ">
        <img class="img-fluid rounded" src="{% static 'img/logo2.jpg' %}" style="width: 150px; height: auto;" >
    </div>
    <div class="container display-flex align-items-center justify-content-center flex-direction mt-4 ">
        <div class="display-flex justify-content-center p-3  text-center bg-white rnd  shadow w-100 ">
            <div class=" py-2" style="letter-spacing: 1em; ">HOŞ GELDİNİZ</div>
            <br>
        </div>
        <form action="{% url 'search' %}" class="display-flex justify-content-center shadow align-items-center w-100 position-relative" >
            <input class="form-control w-100 pt-2  " type="text" name="q"  placeholder="search..." >
            <i class="fa-solid fa-magnifying-glass position-absolute" style="left:90%"></i>
        </form>
       
    </div>

</nav> {% endblock search_nabvar %}
{% block title %}Home{% endblock title %}
{% block content %}
<div class="container">
  
  <div style="display:flex; align-items:center; justify-content:space-between; mb-5" class="mt-3">
    <!-- Sol ok -->
    <div>
      <a href="{% url 'index_lage' %}" style="color:black;">
        <i class="fa-solid fa-arrow-left ms-1 fs-1"></i>
      </a>
    </div>
    
   
  </div>
  {% for product in products %}
  <table class="table w-100 mt-2">
    <tbody>
      <tr>
        <td class="border-bottom">
          <b style="display:block;">{{product.name}}</b>
          <span class="text-black-removed text-opacity-25" style="font-size:12px; line-height:16px; display:inline-grid; display:block; width: 90%;">{{product.description}}</span>
        </td>
        <td class="border-bottom text-nowrap text-end" width="1">
          <div class="text-end">
            <span class="text-muted opacity-70">    {% if product.person_type == "per_person" %} 
              kişi Başı
              {% else %}
              &nbsp;  <!-- Non-breaking space to add spacing -->
              &nbsp;  <!-- Non-breaking space to add spacing -->

          {% endif %}</span>
            &nbsp;<span style="width:80px; display:inline-block;">{{product.price}} 	&#8364;</span>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

{% endfor %}

</div>
   



{% endblock content %}
